.header {
   position: fixed;
   height: 110px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(255, 255, 255);
   color: rgb(255, 255, 255);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
