.footer {
   position: fixed;
   height: 32px;
   left: 0;
   bottom: 5;
   width: 100%;
   background-color:rgb(173, 216, 230);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.footertop {
   position: fixed;
   height: 5px;
   left: 0;
   bottom: 37;
   width: 100%;
   background-color:rgb(173, 216, 230);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.footerbottom {
   position: fixed;
   height: 5px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(173, 216, 230);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.header {
   position: fixed;
   height: 90px;
   left: 0;
   top: 0;
   width: 100%;
   background-color:rgb(173, 216, 230);
}
a{
  text-decoration: none;
}
.title {
   color:rgb(255, 255, 255);
   font-family: phosphate-solid;
   font-size: 31px;
   padding: 0px:
   margin: 0px;
}
.bigtitle {
   color:rgb(255, 255, 255);
   font-family: phosphate-solid;
   font-size: 47px;
   padding: 0px:
   margin: 0px;
}
.subtitle {
   color:rgb(255, 255, 255);
   font-family: phosphate-solid;
   font-size: 25px;
   padding: 0px:
   margin: 0px;
}
.container1 {
   height: 400px;
   left: 0;
   right:0;
   width: 100%;
   background-color:rgb(173, 216, 230);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family: Courier New;
   text-align: left;
   text-margin: 30px;
}
.container2 {
   height: 250px;
   left: 0;
   right:0;
   width: 100%;
   background-color:rgb(173, 216, 230);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:phosphate-solid;
   text-align: left;
   text-margin: 30px;
}
.signature {
   font-family: cursive;
   font-size: 25px;
   float: center;
}
.undersignature {
   font-family: phosphate-solid;
   font-size: 17px;
   float: center;
}
.text {
   font-family:Courier New;
   font-size: 20px;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom-: 20px;
}
